.expand-y-enter-active,
.expand-y-leave-active,
{
  transition: transform .3s ease;
}

.expand-y-enter, .expand-y-leave-active {
  transform: scaleY(0);
}

.player-more-enter-active,
.player-more-leave-active,
{
  transform-origin: center top;
  @extend .expand-y-enter-active;
}

.player-more-enter, .player-more-leave-active {
  transform-origin: center top;
  @extend .expand-y-enter;
}

.modal-enter-active,
.modal-leave-active,
{
  @extend .expand-y-enter-active;
}

.modal-enter, .modal-leave-active {
  @extend .expand-y-enter;
}
